body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2293 {
  position:fixed;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u2293_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.0470588235294118);
}
#u2293_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
  line-height:20px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
  line-height:20px;
}
#u2294 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:43px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:10px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u2298 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2298_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:43px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u2298.mouseDown {
  opacity:0.8;
}
#u2298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:18px;
  width:1px;
  height:15px;
  display:flex;
}
#u2299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:13px;
  width:23px;
  height:23px;
  display:flex;
}
#u2300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:17px;
  width:16px;
  height:16px;
  display:flex;
}
#u2301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
  display:flex;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u2302 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u2302_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u2302.mouseDown {
  opacity:0.8;
}
#u2302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u2304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
.u2304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:80px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
.u2304 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
.u2304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u2305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:80px;
}
.u2305 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:0px;
  width:40px;
  height:80px;
  display:flex;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:24px;
}
.u2305 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u2305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2303-1 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:355px;
  height:80px;
}
#u2303-2 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:90px;
  width:355px;
  height:80px;
}
#u2303-3 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:180px;
  width:355px;
  height:80px;
}
#u2303-4 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:270px;
  width:355px;
  height:80px;
}
#u2303-5 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:360px;
  width:355px;
  height:80px;
}
#u2303-6 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:450px;
  width:355px;
  height:80px;
}
#u2303-7 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:540px;
  width:355px;
  height:80px;
}
#u2303-8 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:630px;
  width:355px;
  height:80px;
}
#u2303-9 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:720px;
  width:355px;
  height:80px;
}
#u2303-10 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:810px;
  width:355px;
  height:80px;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:375px;
  height:890px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:960px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2308 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:375px;
  height:50px;
}
#u2308_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2308_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2308_state0_content {
  left:0px;
  top:-1px;
}
#u2309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 108, 108, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F56C6C;
  line-height:20px;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  display:flex;
  color:#F56C6C;
  line-height:20px;
}
#u2309 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(245, 108, 108, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 108, 108, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F56C6C;
  line-height:20px;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:102px;
  width:50px;
  height:20px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F56C6C;
  line-height:20px;
}
#u2310 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
