body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2365 {
  position:fixed;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u2365_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.0470588235294118);
}
#u2365_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
  line-height:20px;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
  line-height:20px;
}
#u2366 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:43px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:10px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u2370 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2370_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:43px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u2370.mouseDown {
  opacity:0.8;
}
#u2370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:18px;
  width:1px;
  height:15px;
  display:flex;
}
#u2371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:13px;
  width:23px;
  height:23px;
  display:flex;
}
#u2372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:17px;
  width:16px;
  height:16px;
  display:flex;
}
#u2373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
  display:flex;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u2374 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u2374_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u2374.mouseDown {
  opacity:0.8;
}
#u2374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:70px;
  width:330px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u2375 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u2377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
.u2377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
.u2377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2377_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 108, 108, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 108, 108, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
.u2377.selected {
}
.u2377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2376-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u2376-2 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:100px;
  height:40px;
}
#u2376-3 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:100px;
  height:40px;
}
#u2376-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:100px;
  height:40px;
}
#u2376-5 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:55px;
  width:100px;
  height:40px;
}
#u2376-6 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:55px;
  width:100px;
  height:40px;
}
#u2376-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:100px;
  height:40px;
}
#u2376-8 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:110px;
  width:100px;
  height:40px;
}
#u2376-9 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:110px;
  width:100px;
  height:40px;
}
#u2376-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:100px;
  height:40px;
}
#u2376-11 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:165px;
  width:100px;
  height:40px;
}
#u2376-12 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:165px;
  width:100px;
  height:40px;
}
#u2376-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:100px;
  height:40px;
}
#u2376-14 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:220px;
  width:100px;
  height:40px;
}
#u2376-15 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:220px;
  width:100px;
  height:40px;
}
#u2376-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:275px;
  width:100px;
  height:40px;
}
#u2376-17 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:275px;
  width:100px;
  height:40px;
}
#u2376-18 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:275px;
  width:100px;
  height:40px;
}
#u2376-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:100px;
  height:40px;
}
#u2376-20 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:330px;
  width:100px;
  height:40px;
}
#u2376-21 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:330px;
  width:100px;
  height:40px;
}
#u2376-22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:385px;
  width:100px;
  height:40px;
}
#u2376-23 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:385px;
  width:100px;
  height:40px;
}
#u2376-24 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:385px;
  width:100px;
  height:40px;
}
#u2376-25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:100px;
  height:40px;
}
#u2376-26 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:440px;
  width:100px;
  height:40px;
}
#u2376-27 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:440px;
  width:100px;
  height:40px;
}
#u2376-28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:495px;
  width:100px;
  height:40px;
}
#u2376-29 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:495px;
  width:100px;
  height:40px;
}
#u2376-30 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:495px;
  width:100px;
  height:40px;
}
#u2376-31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:100px;
  height:40px;
}
#u2376-32 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:550px;
  width:100px;
  height:40px;
}
#u2376-33 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:550px;
  width:100px;
  height:40px;
}
#u2376-34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:605px;
  width:100px;
  height:40px;
}
#u2376-35 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:605px;
  width:100px;
  height:40px;
}
#u2376-36 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:605px;
  width:100px;
  height:40px;
}
#u2376-37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:660px;
  width:100px;
  height:40px;
}
#u2376-38 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:660px;
  width:100px;
  height:40px;
}
#u2376-39 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:660px;
  width:100px;
  height:40px;
}
#u2376-40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:715px;
  width:100px;
  height:40px;
}
#u2376-41 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:715px;
  width:100px;
  height:40px;
}
#u2376-42 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:715px;
  width:100px;
  height:40px;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:120px;
  width:330px;
  height:805px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
